@model projet_dotnet.Models.Enseignant

@{
    ViewData["Title"] = "Edit";
}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Modifier Enseignant</h3>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID" />
                        <div class="col-md-12">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>


                       <div class="col-md-12">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                       </div>
                       
                       
                       

                        <div class="form-button mt-3">
                            <input type="submit" value="Save" class="btn btn-warning" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-outline-warning"><a asp-action="Index">Back To List</a></button>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
